body{
    background-image:url("https://media.giphy.com/media/3oEdv1GbekAakxXO8g/giphy.gif");
    font-family:'bellota',cursive;
    font-size:26pt;
    background-color:black;
    padding:20px;
    margin:0;
}
.t{
  align-content: center;
}
.navbar{
   background-color:black;
   border-radius:30px;
}
.navbar ul{
   overflow:auto;
}
.navbar li{
   float:left;
   list-style:none;
   margin: 13px 20px;
}
.navbar li a{
   padding: 3px 3px;
   text-decoration:none;
   color:white;
}
.navbar li a:hover{
   color:red;
}
.search{
   float:right;
   color:white;
   padding: 12px 75px;
}
.navbar input{
   border: 5px solid red;
   border-radius: 14px;
   padding: 10px 17px;
   width:129px;
}
#header p{
    font-size:50pt;
    color:white;
    padding-top:8px;
    margin:0;
    font-weight:bold;
    text-align:center;
}
.section p{
    font-size:20pt;
    color:white;
}
h1 span{
    border:8px solid white;
    border-radius:100px;
    color:white;
    padding:15px;
}
h1{
    font-size:15pt;
    color:black;
    text-align:center;
    padding:20px 0 20px 0 20px;
    margin:0 0 10px 0;
}
.section {
    margin-top: 15px;
    background-color: black;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    color:white;
    text-align: left;
  }
  #intro img{
    border:7px solid white;
    border-radius: 5px;

  }
  .section img{
    width:200px;
    height: 200px;
  }
 #res a:hover{
    color:red;
 }
  #res {
    text-align: center;
    margin: 50px auto;
  }
  
  #res a {
    margin: 20px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
  }
  
  li {
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  progress {
    width: 70%;
    height: 20px;
    color: #3fb6b2;
    background: #efefef;
  }
  
  progress::-webkit-progress-bar {
    background: #efefef;
  }
  
  progress::-webkit-progress-value {
    background: #3fb6b2;
  }
  
  progress::-moz-progress-bar {
    color: #3fb6b2;
    background: black;
  }
  
  #contacts {
    text-align: center;
  }
  
  #contacts img {
    height: 150px;
    width: 150px;
    margin-left: 7px;
    margin-right: 7px;
  }
  
  #contacts a {
    text-decoration: none;
  }
